html, body {
    
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    color: #FFF;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: "Big John";
    color: #C1A0CB;
}

.container {
    
    padding: 1rem;
}

div.center {
    
    margin: auto auto;
}

.button {
    
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2rem;
    font-size: 1.5rem;
    transition: background-color 0.5s ease;;
}

.button:hover {
    
    background-color: #FFF;
}

.button.small {
    
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
}