#main {
    
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(images/bg.jpg);
    background-size: 100% auto;
    background-position: bottom;
    text-align: center;
}

.overlay {
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#main nav {
    
    padding: 1rem 2rem;
    color: #FFF;
}

#main nav .logo {
    
    font-size: 1.5rem;
    float: left;
}

#nav-menu {
    
    float: right;
}

#nav-menu a:first-of-type {
    
    margin-left: 0;
}

#nav-menu a:last-of-type {
    
    margin-right: 0;
}

#nav-menu a {
    
    margin: 0 1rem;
}

.logo {
    
    font-family: "Big John";
    color: #C1A0CB;
}



#tagline {
    
    display: table;
    text-align: center;
    margin: 2rem auto;
}

#tagline h1 {
    
    font-size: 4rem;
    display: table-row;
}

#tagline p {
    
    margin: 0;
    font-size: 2rem;
    display: table-cell;
    width: 1px;
}

.options * {
    
    margin: 0 1rem;
}